<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="File" name="error" fileName="c:\temp\e_logs\e_${date:format=yyyyMMdd_HH}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|action: ${aspnet-mvc-action}|url: ${aspnet-request-url}|${mdlc:item=OrderRef}${newline}${message}${exception:format=tostring}${newline}------------------------------------------------------------------------------" />

    <target xsi:type="File" name="info" fileName="c:\temp\i_logs\i_${date:format=yyyyMMdd_HH}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|action: ${aspnet-mvc-action}|${mdlc:item=OrderRef}${newline}${message}------------------------------------------------------------------------------" />

    <target name="ijson" xsi:type="File" fileName="c:\temp\i_logs\i_${date:format=yyyyMMdd_HH}.log" >
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="eventid" layout="${event-properties:item=EventId_Id}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="controller" layout="${logger}"/>
        <attribute name="command" layout="${aspnet-mvc-action}"/>
        <!--<attribute name="message" layout="${message}" />-->
        <attribute name="properties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true" excludeProperties="EventId_Id,EventId_Name,EventId"   maxRecursionLimit="3"/>
        </attribute>
      </layout>
    </target>

    <target name="ejson" xsi:type="File" fileName="c:\temp\e_logs\e_${date:format=yyyyMMdd_HH}.log" >
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="eventid" layout="${event-properties:item=EventId_Id}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="controller" layout="${logger}"/>
        <attribute name="command" layout="${aspnet-mvc-action}"/>
        <!--<attribute name="message" layout="${message}" />-->
        <attribute name="properties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true" excludeProperties="EventId_Id,EventId_Name,EventId"   maxRecursionLimit="3"/>
        </attribute>
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- BlackHole without writeTo -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Error" writeTo="error" enabled="false" />
    <logger name="*" minlevel="Info" writeTo="info" enabled="false" />
    <logger name="*" minlevel="Info" writeTo="ijson" />
    <logger name="*" minlevel="Error" writeTo="ejson" />
  </rules>
</nlog>